<!-- POTENTIALLY NOT NEEDED-->
  <div class="jumbotron">
    <div class="container pt-3"></div>
      <h1 class="display-3">Band-Aide</h1>
      <h3>Let's hear it</h3>
      <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <!--Button with data-target --> Band Posts
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="container">
                <div class="row">
                  <div class="col-md-4">
                    <h2>Event Eval</h2>
                    <p>Event tech evaluations for TFN, SWS, Special Events. A forum for discussing: what went right, what went wrong and what can we do to fix it.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                  </div>
                  <div class="col-md-4">
                    <h2>Training Resources</h2>
                    <p>We need all the help we can get. Here's where you can share training videos, articles or anything else you think would help.</p> 
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                  </div>
                  <div class="col-md-4">
                    <h2>Equipment</h2>
                    <p> Projector needs a new bulb? Wire management issues?  Missing music stands? Here's where you can voice it.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                  </div>
                </div>
        </div>
      </div>
    </div>
 
