<nav class='navbar navbar-expand-md navbar-light bg-light fixed-top'>
  <img class='bandaideIcon navbar-brand' src='/images/bandaide_icon.png' alt='bandaide icon'>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarsExampleDefault'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link ml-2' href='/login'>Login <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item active ml-2'>
        <a class='nav-link ' href='/signup'>Sign up</a>
      </li>
    </ul>
    
    <div class='btn-group' role='group' aria-label='Basic example'>
       <a href= '/api/auth/logout'><button class='btn btn-ouline-dark my-2 my-sm-0 text-dark' >Log Out</button></a>
    </div>                
  </div>
</nav>