body {
    padding-top: 5rem;
    background-image: url('/images/bandaide_home.jpg'); 
    background-repeat: no-repeat;
    background-size:cover;
  }
main {
  background-color: gray;
}
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  
  .bandaideIcon{
      height:40px;
      width:auto;
  }