button:hover{
  background-color:red;
}


.bannerImage {
  background-image: url('/images/bandaide_banner.jpg'); 
  background-repeat: no-repeat;
  background-size:cover;
  max-height:200px;
  min-width:440px;
}  
body {
    padding-top: 5rem;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.bandaideIcon {
      height:65px;
      width:auto;
}

.replySection{
  margin-left: .9rem;
  padding: 4rem 7.5rem;
}

.replyAppend{
  margin: 0 -1rem;
}

.borderless-card{
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
.blueButton{
  background-color: blue;
  border-color: black;
  color:white;
}
.borderless-card-body{
  flex: 1 1 auto;
  padding: 1.25rem;
}

.big-container{
  min-width: 440px;
  max-width:900px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-toggler{
  margin-right: 5rem;
}

.container-noPad{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}


