.bannerImage {
  background-image: url('/images/bandaide_banner.jpg'); 
  background-repeat: no-repeat;
  background-size:cover;
}  
body {
    padding-top: 5rem;
    background-image: url('/images/bandaide_home.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}
  

main {
  background-color: gray;
}
  
.bandaideIcon {
      height:65px;
      width:auto;
}

.replySection{
  margin-left: .9rem;
  padding: 5rem 8rem;
}

.replyAppend{
  margin: 0 -1rem;
}