<!doctype html>
<html lang='en'>
  <head>
    <% include ../partials/head %>
    <!-- Title -->
    <title>BandAide Home</title>
    <!-- Javascript-->
    <script src = '/scripts/home.js'></script> 
    <!-- Custom styles for this template -->
    <link href='/stylesheets/home.css' rel='stylesheet'>
  </head>

  <body>

    
     <!-- Navigation Bar -->
    <% include ../partials/navbar %>
   
    <header role = 'banner'>
      <div class ='jumbotron bannerImage text-light border-bottom border-top'>
          <div class="container pt-3"></div>
            <h1 class="display-3"><em>Band-Aide</em></h1>
            <h3><em>Be Heard</em></h3>
      </div>
    </header>
  
    <main role='main' class ='container'>
    
      <div class='my-3 p-3 bg-white rounded box-shadow'>
          <div class="accordion" id="accordionExample">
          <div class="card">

            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <h2>Announcements</h2>
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                  <p><em>What's Happening Now.</em></p>  
                  <div class="btn-group d-flex flex-row-reverse" role="group" aria-label="Button Group">
                  <button type='button' class='btn btn-outline-primary mr-2' data-toggle='modal' data-target='#postAnnModal'>+</button>
                  </div>
                  
                  <div id = 'js-recent-announcement'></div>
                  <div class="collapse" id="collapseAllAnnouncement">
                    <div id = 'js-all-announcement'></div>
                  </div>
        
                  <div>
                    <small class='d-block text-right mt-3'>
                      <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAllAnnouncement" aria-expanded="false" aria-controls="collapseAnnouncement">
                        All Announcements
                        </button>
                      </p>
                    </small>
                  </div>

              </div>
            </div>

          </div>
          
          <div class="card">

            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h2>Event Eval</h2>
                </button>
              </h5>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                  <p><em>Here's a space that we can discuss tech issues by event. Notice it. Work on it. Own it. Now. </em></p>
                  
                  <div class="btn-group d-flex flex-row-reverse" role="group" aria-label="Button Group">
                      <button type='button' class='btn btn-outline-primary mr-2'  data-toggle='modal' data-target='#eventsModal'>+</button>
                  </div>
                  <div id = 'js-recent-event'></div>
                  
                  <div class="collapse" id="collapseAllEvents">
                    <div id = 'js-all-event'></div>
                  </div>
        
                  <div>
                    <small class='d-block text-right mt-3'>
                      <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAllEvents" aria-expanded="false" aria-controls="collapseAllEvents">
                        All Events
                        </button>
                      </p>
                    </small>
                  </div>
                
                
                </div>   
              </div>

            </div>
         
          
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h2>Training Resources</h2>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <p><em>We need all the help we can get. Here's where you can share training videos, articles or anything else you think would help.</em></p>
                      
                <div class="btn-group d-flex flex-row-reverse" role="group" aria-label="Button Group">
                  <button type='button' class='btn btn-outline-primary mr-2'  data-toggle='modal' data-target='#trainingModal'>+</button>
                </div>
                <div id = 'js-recent-training'></div>
                <div class="collapse" id="collapseAllTraining">
                  <div id = 'js-all-training'></div>
                </div>
              
                <div>
                  <small class='d-block text-right mt-3'>
                    <p>
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAllTraining" aria-expanded="false" aria-controls="collapseTraining">
                        All Resources
                      </button>              
                    </p>
                  </small>
                </div>
              </div>  
            </div>
          </div>
        
        </div>
      </div>

      <% include ../partials/modal %>
   
         


 

    </main>
  </body>
</html>
