<!DOCTYPE html>
<html lang='en'>
  <head>
    <% include ../partials/head %>
    <title>BandAide Landing</title>
    <link href='/stylesheets/landing.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Roboto|Open+Sans' rel='stylesheet'>
  </head>

  <body class='text-center'>
    <div class='cover-container d-flex w-100 h-100 p-3 mx-auto flex-column'>
      <header class='masthead d-flex mb-5'>
          <div class='container d-flex justify-content-center'><img class='mt-3 mb-4 bandaideIcon' src='/images/bandaide_icon.png' alt='bandaide icon'></div>
      </header>

      <main role='main' class='inner cover mt-5'>
        <h1 class='cover-heading title'>BandAide</h1>
        <p class='lead subtitle'>BandAide is a 1-stop shop for all your A/V Tech Team Communications. Share training resources, schedule events, submit feedback.</p>
        <p> Post training videos, discuss areas of improvement, and get on the same page with your team.</p>
        <p class='lead'>
          <a href='/home' class='btn btn-lg btn-danger'>Let's Get Started</a>
        </p>
      </main>
  </body>
  <footer class='mastfoot mt-5'>
    <div class='inner'> &copy; 2018</div>
  </footer>
</html>